body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

.menu {
    background-color:black;
    border-bottom: 2px solid #1e1e1d;
    position: absolute;
    width: 100%; 
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    z-index:3;
   
}

.imagenarriba{
    position: fixed;
    left: 0%;
    margin-top: 0px;
    height:250px;
    width:100%;
}

.menu ul {
    margin: 0;
    padding: 0 5%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:left;
}

.menu li {
    padding: 0 10px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

.menu ul li a:hover {
    text-decoration: none;
    background-color:white;
    color:black;
    box-shadow: 0 14px 10px rgba(0, 0, 0, 0.1);
}

.menu img{
    margin-top:10px;
}

.texto{
    color:black;
    display:flex;
    margin-left: 100px; 
}

footer {
    background-color: black;
    color:white;
    text-align: center;
    padding: 20px;
    margin-top: 300px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 300px;
}
label {
  display: block;
  margin-top: 10px;
}
input, select, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
button {
  background-color: #007BFF;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
}
button:hover {
  background-color: #0056b3;
}